.page-title {
    padding: 20px;
    margin: 0;
}

.page-description {
    font-size: 12px;
    padding: 20px;
}

.page-content {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 20px;
}

.page-content .section {
    border: 0.5px solid black;
    padding: 20px;
    height: 400px;
    overflow: auto;
}

.page-content .section.add-form {
    position: relative;
}

.user-add-form {
    display: grid;
    gap: 20px;
}

.form-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px 1fr;
    gap: 20px;
}

.form-wrapper label {
    justify-self: end;
}

.submit-button {
    padding: 10px;
    width: 100px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.user-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-item {
    padding: 10px;
    cursor: pointer;
}

.user-item .profile-image {
    width: 200px;
    height: 200px;
}